*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
}
body{
    background: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    position: relative;
}
nav{
    background: silver;
    color: rgb(25, 25, 25);
    display: inline-block;
    width: 100%;
}
.logo{
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 0;
}
.logo-txt{
    display: flex;
    color: rgb(25, 25, 25);
    font-size: 4rem;
    margin: 0;
    padding: 0 2vw;
    padding-top: 35%;
    width: 100%;
}
ul{
    list-style-type: none;
}
.nave{
    display: flex;
    background-color: silver;
    border-top: 5px solid rgb(25, 25, 25);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    justify-content: space-evenly;
    position: relative;
    margin: 0;
    width: 100%;
    z-index: 1;
}
.nav-links{
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 1vw;
    transition: all 0.3s;
}
.nav-links:hover{
    color: purple;
    scale: 1.2;
    text-shadow: 1px 1px 3px purple;
}
.nav-links h3{
    margin: 0;
    padding: 0 0 1% 0;
}
.header-decoration{
    background: rgb(25, 25, 25);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin: 0;
    padding: 3vw;
    width: 100%;
}
.container ul{
    display: flex;
    justify-content: space-evenly;
    margin: 2vw 0;
    padding: 0;
    width: 100%;
}
.cards{
    background-color: silver;
    border: 2px solid silver;
    border-radius: 15px;
    flex-wrap: wrap;
    width: 30%;
}
.cards img{
    display: block;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.cards .overlay {
    position: relative;
    background-color: silver;
    border-radius: 15px;
    width: 100%;
    height: 0%;
    transition: all .5s ease;
}
.cards div {
    border-radius: 15px;
    color: rgb(25, 25, 25);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform: translate(0%, -95%);

  }
.cards p{
    font-size: 1rem;
    font-weight: normal;
    height: 0;
    margin: 0;
    margin-top: 1vw;
    padding: 0;
}
.cards:hover .overlay {
    height: 100%;
    .cards p{
        height: 100%;
    }
    .cards img{
        height: 0;
    }
}
section{
    background-color: silver;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    padding: 5% 0;
    margin: 0;
    color: rgb(25, 25, 25);
}
.container {
    z-index: 1;
}
footer{
    background-color: black;
    color: white;
    display: block;
    margin: 0;
    padding: 5% 5% 5% 5%;
    text-align: center;
    width: 100%;
}